body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8); */
    /* overflow-y: auto; */
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Ajusta el valor para controlar la opacidad */
    z-index: -1; /* Asegura que el elemento esté detrás de los demás elementos */
    background-color: rgba(0, 0, 0, 0.8); 
}

.titulo {
    font-size: 45px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    border: 2px solid #000;
}

h1 .titulo {
    border: 1px solid #000;
    color: red;
}

.logo {
    margin-bottom: 20px;
}

.card {
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin-bottom: 20px;
}

.card img {
    max-width: 100%;
    height: auto;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

.details {
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
}

.details span {
    font-weight: bold;
    font-size: 16px;
}

.button {
    background-color: #000;
    color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    font-size: larger;
    border-radius: 10px;
    animation: spin 2s infinite;
}

@keyframes spin {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.icon {
    margin-bottom: 10px;
}

.animated-arrow {
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.map-container {
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 56.25%;
    /* Proporción del aspecto del mapa (16:9) */
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid #000;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .card {
        order: 1;
    }

    .button {
        order: 2;
    }

    .icon {
        order: 3;
    }

    .map-container {
        order: 4;
        margin-top: 10px;
    }

}